body{
    margin: 0;
    padding: 0;
  
    
}
h1{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
.blue-color{
    color: #11b2fb ;
}
.top-banner{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 178px;
}
.right-side{

    padding-right: 100px;
    font-size: 20px;
}

.title{
    border-left: 5px solid;
    border-color:#0690f7;
    
}
.title-content {
    padding-left: 16px;
}
.button-pink-color{
    background-color: #FF33BB;
    color: white;

    height: 50px;
    width: 162px;
    font-size: 15px;
    border-radius: 11px;
}
.left-side{
    
}
.left-side img{
  width: 530px;;
  height: 525px;
}
/* section mission */
.section-mission {
    margin: 20px;
}
.section-mission h1{
    text-align: center;

}

.all-mission{
    /*! background-color: #EDF5F6; */
    display: flex;
    justify-content: space-around;
}
.goals{
    width: 300px;
    background-color: #FFF4D6;
    border-radius: 25px;
}
.vission {
    width: 300px;
    background-color: #FFEEEE;
    border-radius: 25px;
  }
  .mission-content {
    padding-left: 15px;
}
.mission{

    width: 300px;
    background-color: #EDF5F6;
     border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.mission-img img{

    height: 138px;
}
.banner{
    display: flex;
    justify-content: space-around;
}
.banner-img {
    height: 530px;
    width: 525px;
}
.right-side-banner {
    margin: 100px;
  }
  .left-side-banner {
    margin: auto;
    width: 780px;
  }
  .button-pink-color2{
      background-color:#FF33BB;
      height: 65px;
      width: 280px;
      font-size: 20px;
      color: white;
      border-radius: 20px;
  }